<%= search_form_for @q do |f| %>
  <form class=''>
    <div class='form-group row'>
      <label class="col-sm-1 form-control-label">Book</label>
      <div class="col-sm-5">
        <%= f.search_field :name_start, class: 'form-control', placeholder: 'Book' %>
      </div>
    </div>
    <div class='form-group row'>
      <label class="col-sm-1 form-control-label">Professor</label>
      <div class='col-sm-5'>
        <%= f.search_field :prof_name_start, class: 'form-control', placeholder: 'Professor' %>
      </div>
    </div>
    <div class='form-group row'>
      <label class="col-sm-1 form-control-label">Class</label>
      <div class='col-sm-5'>
        <%= f.search_field :class_name_start, class: 'form-control', placeholder: 'Class' %>
      </div>
    </div>

    <div class='form-group row'>
      <div class='col-sm-2 col-lg-2'>
        <div class='checkbox-inline'>
          <%=f.label :deanza_flag_eq, 'Danza' %>
          <%= f.check_box :deanza_flag_eq, {},true, false %>
        </div>
      </div>
      <div class='col-sm-2 col-lg-2'>
        <div class='checkbox-inline'>
          <%=f.label :foothill_flag_eq, 'Foothill' %>
          <%= f.check_box :foothill_flag_eq, {},true, false%>
        </div>
      </div>
      <div class='col-sm-2 col-lg-2'>
        <div class='checkbox-inline'>
          <%=f.label :sell_now_flag, 'This Quarter' %>
          <%= f.check_box :sell_now_flag_eq, {},true, false %>
        </div>
      </div>
      <div class='col-sm-2 col-lg-2'>
        <div class='checkbox-inline'>
          <%=f.label :sell_next_flag, 'Next Quarter' %>
          <%= f.check_box :sell_next_flag_eq, {},true, false %>
        </div>
      </div>
      <div class='checkbox-inline'>
        <div class='col-sm-2'>
          <%= f.submit 'search', class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </form>
<% end %>
