<div class='header_search_form'>
  <%= render 'search' %>
</div>

<% if request.from_smartphone? %>
  <div class='book_wrapper'>
    <% @books.each do |book| %>
      <div class='book_box'>
        <%= link_to book do %>
        <div class='book_img_list'>
          <%= image_tag book.photos.first.image.url(:medium), class: 'book_img' %>
        </div>
        <div class='book_info'>
          <span class='price'>$<%= book.price %></span>
          <span class='book_name'><%= book.name %></span>
          <span class='owner_image'>
            <%= image_tag book.user.photo.image.url(:thumb), class: 'owner_image' %>
          </span>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <ul class='pc_gallery_box'>
    <% @books.each do |book| %>
      <li class='gallery_list'>
        <%= link_to book do %>
        <div class='gallery_img_list'>
          <%= image_tag book.photos.first.image.url(:medium), class: 'gallery_img' %>
        </div>
        <div class='gallery_bottom_info'>
          <span class='price'>$<%= book.price %></span>
          <span class='book_name'><%= book.name %></span>
          <span class='owner_image'>
            <%= image_tag book.user.photo.image.url(:thumb), class: 'owner_image' %>
          </span>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<div class='post_lead_container navbar-fixed-bottom text-center'>
  <%= link_to 'Sell', new_sell_book_path, class: 'btn btn-default' %>
</div>
