<div class='header_search_form'>
  <%= render 'search' %>
</div>

<ul class='list'>
  <% @books.each do |book| %>
  <div class='book_list'>
    <div class='list_body'>
      <%= link_to book do %>
        <%= image_tag book.photos.first.image.url(:thumb), class: 'book_image f_left' %>
        <%= book.name %>
        <%= book.prof_name %>
        <%= book.class_name %>
        <%= book.price %>
      <% end %>
    </div>
  </div>
  <% end %>
</ul>
