<div class='book'>
  <div class='image'>
    <center><%= image_tag @book.photos.first.image.url, class: 'img-responsive' %></center>
  </div>

  <h1 class='book_name text-center'>
    <%= @book.name %>
  </h1>

  <div class='book_price'>
    $<%= @book.price %>
  </div>

  <div class='row'>
    <div class='description text-center'>
      <h4>About this text book</h4>
      <p><%= @book.description %></p>
    </div>

    <div class='owner_name text-center'>
      <%= image_tag @book.user.photo.image(:thumb), class: 'owner_image' %>
      <%= @book.user.name %>
    </div>

    <hr>

    <dl>
      <dt>ProfessorName:</dt>
      <dd>
        <%= @book.prof_name %>
      </dd>
    </dl>

    <dl>
      <dt>ClassName:</dt>
      <dd>
        <%= @book.class_name %>
      </dd>
    </dl>

    <dl>
      <dt>College:</dt>
      <dd>
        <% if @book.deanza_flag %>
          Deanza
        <% end %>
        <% if @book.foothill_flag %>
          Foothill
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<ul class='comment_list'>
  <% @sell_book_comments.each do |comment| %>
    <li>
      <%= image_tag comment.user.photo.image(:thumb), class: 'user_image' %>
      <span class='user_name'>
        <%= comment.user.name %>
      </span>
      <div class='comment_body'>
        <%= comment.body %>
      </div>
    </li>
  <% end %>
</ul>

<div class='footer'>
  <%= form_for @sell_book_comment, url: sell_book_comments_path(sell_book_id: @book.id) do |f| %>
    <div class='body col-xs-9 col-sm-10 col-md-10 col-lg-10'>
      <%= f.text_area :body, placeholder: 'Enter comment', class: 'form-control' %>
    </div>
    <div class='submit'>
      <%= f.submit 'Send', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
