<div class='book'>
  <div class='image'>
    <center><%= image_tag @book.photos.first.image.url, class: 'img-responsive' %></center>
  </div>

  <% if current_user %>
    <% if current_user.voted_up_on? @book %>
      <%= render 'unfavorite' %>
    <% else %>
      <%= render 'favorite' %>
    <% end %>
  <% else %>
    <div class='not_login'>
      <%= render 'favorite' %>
    </div>
  <% end %>

  <h1 class='book_name text-center'>
    <%= @book.name %>
  </h1>

  <div class='book_price'>
    $<%= @book.price %>
  </div>

  <div class='row'>
    <div class='description text-center'>
      <h4>About this book</h4>
      <p><%= @book.description %></p>
    </div>

    <div class='owner_name text-center'>
      <h4>Owner</h4>
      <%= image_tag @book.user.photo.image(:thumb), class: 'owner_image' %>
      <span><%= @book.user.name %></span>
    </div>

    <hr>

    <dl>
      <dt>When sell this?:</dt>
      <dd>
        <% if @book.sell_now_flag %>
          Sell this quarter!
        <% end %>
        <% if @book.sell_next_flag %>
          sell next quarter!
        <% end %>
      </dd>
    </dl>

    <dl>
      <dt>ProfessorName:</dt>
      <dd>
        <%= @book.prof_name %>
      </dd>
    </dl>

    <dl>
      <dt>ClassName:</dt>
      <dd>
        <%= @book.class_name %>
      </dd>
    </dl>

    <dl>
      <dt>College:</dt>
      <dd>
        <% if @book.deanza_flag %>
          Deanza
        <% end %>
        <% if @book.foothill_flag %>
          Foothill
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<% if user_signed_in? %>
  <% if @book.user_id != current_user.id %>
    <div class='post_lead_container navbar-fixed-bottom text-center'>
      <%= link_to 'Contact with Facebook', @seller_url, class: 'btn btn-default' %>
    </div>
  <% else %>
    <div class='edit_button navbar-fixed-bottom'>
      <%= link_to 'Edit', edit_sell_book_path(sell_book_id: @book.id), class: 'btn btn-default' %>
    </div>
    <div class='delete_button navbar-fixed-bottom'>
      <%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
    </div>
  <% end %>
<% else %>
  <div class='post_lead_container navbar-fixed-bottom text-center'>
    <%= link_to 'Request', message_groups_path(sell_book_id: @book.id), method: :post, action: :create, class: 'btn btn-default' %>
  </div>
<% end %>
