<div class='book'>
  <div class='image'>
    <center><%= image_tag @book.photos.first.image.url, class: 'img-responsive' %></center>
  </div>

  <% if current_user %>
    <% if current_user.voted_up_on? @book %>
      <%= render 'unfavorite' %>
    <% else %>
      <%= render 'favorite' %>
    <% end %>
  <% else %>
    <div class='not_login'>
      <%= render 'favorite' %>
    </div>
  <% end %>

  <h1 class='book_name text-center'>
    <%= @book.name %>
  </h1>

  <div class='book_price'>
    $<%= @book.price %>
  </div>

  <div class='row'>
    <div class='description text-center'>
      <h4>About this book</h4>
      <p><%= @book.description %></p>
    </div>

    <div class='owner_name text-center'>
      <h4>Owner</h4>
      <%= image_tag @book.user.photo.image(:thumb), class: 'owner_image' %>
      <span><%= @book.user.name %></span>
    </div>

    <hr>

    <dl>
      <dt>SellSeason:</dt>
      <dd>
        <%= @book.sell_season %>
      </dd>
    </dl>

    <dl>
      <dt>ProfessorName:</dt>
      <dd>
        <%= @book.prof_name %>
      </dd>
    </dl>

    <dl>
      <dt>ClassName:</dt>
      <dd>
        <%= @book.class_name %>
      </dd>
    </dl>

    <dl>
      <dt>College:</dt>
      <dd>
        <% if @book.deanza_flag %>
          Deanza
        <% end %>
        <% if @book.foothill_flag %>
          Foothill
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<ul class='comment_list'>
  <% @sell_book_comments.each do |comment| %>
    <li>
      <%= image_tag comment.user.photo.image(:thumb), class: 'user_image' %>
      <span class='user_name'>
        <%= comment.user.name %>
      </span>
      <div class='comment_body'>
        <%= comment.body %>
      </div>
    </li>
  <% end %>
</ul>

<div class='footer'>
  <%= form_for @sell_book_comment, url: sell_book_comments_path(sell_book_id: @book.id) do |f| %>
    <div class='body col-xs-9 col-sm-10 col-md-10 col-lg-10'>
      <%= f.text_area :body, placeholder: 'Enter comment', class: 'form-control' %>
    </div>
    <div class='submit'>
      <%= f.submit 'Send', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <% if @book.message_groups.request(current_user).present? %>
    <div class='posted_container navbar-fixed-bottom text-center'>
      <%= link_to 'Contact', message_group_path(id: MessageGroup.where(sell_book_id: @book.id, buyer_id: current_user.id).first.id), class: 'btn btn-default' %>
    </div>
  <% end %>
<% else %>
  <div class='post_lead_container navbar-fixed-bottom text-center'>
    <%= link_to 'Request', message_groups_path(sell_book_id: @book.id), method: :post,  class: 'btn btn-default' %>
  </div>
<% end %>
