<div class='book'>
  <div class='image'>
    <center><%= image_tag @book.photos.first.image.url, class: 'img-responsive' %></center>
  </div>

  <dl>
    <dt>BookName:</dt>
    <dd>
      <%= @book.name %>
    </dd>
  </dl>

  <dl>
    <dt>Description:</dt>
    <dd>
      <%= @book.description %>
    </dd>
  </dl>

  <dl>
    <dt>ProfessorName:</dt>
    <dd>
      <%= @book.prof_name %>
    </dd>
  </dl>

  <dl>
    <dt>ClassName:</dt>
    <dd>
      <%= @book.class_name %>
    </dd>
  </dl>

  <dl>
    <dt>Price:</dt>
    <dd>
      $<%= @book.price %>
    </dd>
  </dl>

  <dl>
    <dt>College:</dt>
    <dd>
      <% if @book.deanza_flag %>
        Deanza
      <% end %>
      <% if @book.foothill_flag %>
        Foothill
      <% end %>
    </dd>
  </dl>
</div>

<ul class='comment_list'>
  <% @sell_book_comments.each do |comment| %>
    <li>
      <%= image_tag comment.user.photo.image(:thumb), class: 'user_image' %>
      <span class='user_name'>
        <%= comment.user.name %>
      </span>
      <div class='comment_body'>
        <%= comment.body %>
      </div>
    </li>
  <% end %>
</ul>

<div class='footer'>
  <%= form_for @sell_book_comment, url: sell_book_comments_path(sell_book_id: @book.id) do |f| %>
    <div class='body col-xs-10 col-sm-10 col-md-10 col-lg-10'>
      <%= f.text_area :body, placeholder: 'Enter comment', class: 'form-control' %>
    </div>
    <div class='submit'>
      <%= f.submit 'Post', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
