<% if @message_group.messages.present? %>
    <% @message_group.messages.each do |message| %>
      <%if message.user_id == @message_group.buyer_id %>
        <ul class='message_list_right'>
          <li>
            <%= image_tag message.user.photo.image(:thumb), class: 'user_image' %>
            <span class='user_name'>
              <%= message.user.name %>
            </span>
            <div class='message_body'>
              <%= message.body %>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class='message_list'>
          <li>
            <%= image_tag message.user.photo.image(:thumb), class: 'user_image' %>
            <span class='user_name'>
              <%= message.user.name %>
            </span>
            <div class='message_body'>
              <%= message.body %>
            </div>
          </li>
        </ul>
      <% end %>
    <% end %>
<% else %>
  <div class='nomessage text-center'>
    Contact messages<br>
    to exchange textbook!
  </div>
<% end %>

<div class='message_footer navbar-fixed-bottom'>
  <%= form_for @message, url: messages_path(message_group_id: @message_group.id) do |f| %>
    <div class='body col-xs-9 col-sm-10 col-md-10 col-lg-10'>
      <%= f.text_area :body, placeholder: 'Enter comment', class: 'form-control' %>
    </div>
    <div class='submit'>
      <%= f.submit 'Send', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $('html,body').animate({ scrollTop: 0 }, '1');
  });
</script>
