<!DOCTYPE html>
<html>
<head>
  <title>DeviseQiita</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <nav>
            <% if user_signed_in? %>
                <strong<%= link_to current_user.name, user_path(current_user) %></strong>
                <%= link_to 'user page', users_path %>
                <%= link_to 'change profile', edit_user_registration_path %>
                <%= link_to 'logout', destroy_user_session_path %>
            <% else %>
                <%= link_to 'Top', root_path %>
                <%= link_to 'Sign up / Login', new_user_registration_path %>
            <% end %>
        </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>