<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1 user-scalable=no'>
  <title>Foothill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class='top_title text-left'><%= link_to 'Top', root_path %></h1>
    <div class='post_book text-left'>
      <%= link_to new_sell_book_path, class: 'btn btn-default' do %>
        Post Book
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class='signout_path text-left'>
        <%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-default' %>
      </div>
    <% else %>
      <div class='signup_path text-left'>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
